.dev-prof {
  padding-top: 100px;
  padding-bottom: 100px;
}

.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 400px;
}

.dev-pic {
  display: flex;
  flex-direction: column;
}

.profile-pic {
  height: 200px;
  width: 200px;
  object-fit: fill;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.dev-name {
  margin-top: 5%;
  font-size: 1.5rem;
  text-align: center;
}
.dev-role {
  margin-top: 2%;
  font-size: 1.2rem;
  text-align: center;
}
