.web-features {
  padding-left: 5%;
  padding-right: 2%;
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}

.features {
  width: 250px;
}

.feature-pic img {
  width: 100%;
  height: 250px;
  object-fit: fill;
}

.features h2 {
  font-size: 2rem;
}

.features p {
  width: 100%;
  line-height: 2.5;
  text-align: justify;
}

@media all and (max-width: 1150px) {
  .features {
    padding-top: 15%;
    width: 220px;
  }
}

@media all and (max-width: 1024px) {
  .web-features {
    flex-wrap: wrap;
  }

  .feature-wrap {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
  }

  .feature-content {
    padding-top: 0%;
  }

  .features {
    width: 350px;
  }

  .features p {
    width: 95%;
    line-height: 2.5;
    text-align: justify;
  }

  .feature-pic img {
    width: 95%;
  }
}

@media all and (max-width: 400px) {
  .features {
    width: 200px;
  }

  .features h2 {
    font-size: 1.5rem;
  }
  .features p {
    width: 100%;
    line-height: 2;
    text-align: justify;
  }

  .feature-pic img {
    width: 100%;
  }
}
