.footer {
  text-align: center;
}

.footer li {
  margin: 20px 10px;
  cursor: pointer;
}

.footer p {
  padding-left: 5%;
  font-size: 1rem;
}

@media all and (max-width: 600px) {
  .footer p {
    padding-left: 10%;
  }
}
